body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
}

.bg{
  width: 100%;
  z-index: -100;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.quoteContainer{
  font-size: 34px;
  min-height: 10vh;
  min-width: 70vw;
  max-width: 70vw;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}