body{
  margin: 0;
  padding: 0;
}

.bg{
  width: 100%;
  z-index: -100;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
}

header{
  border-bottom: 1px solid black;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div{
  font-size: 46px;
  font-family: 'Shadows Into Light', cursive;
}

main{
  min-width: 100vw;
  text-align: center;
}

.listContainer{
  margin: 0 auto;
  min-width: 65vw;
  max-width: 65vw;
}

.listContainer a{
  text-decoration: none;
}

.listContainer p{
  color: black !important;
  text-decoration: none;
}

.quoteContainer{
  border-bottom: 1px solid black;
  font-size: 24px;
  font-family: 'Shadows Into Light', cursive;
}